<p>
  <b>Name:</b>
  <%=h @vaccination.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @vaccination.notes %>
</p>


<%= link_to 'Edit', edit_vaccination_path(@vaccination) %> |
<%= link_to 'Back', vaccinations_path %>
