<p>
  <b>Name:</b>
  <%=h @visit_type.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @visit_type.notes %>
</p>


<%= link_to 'Edit', edit_visit_type_path(@visit_type) %> |
<%= link_to 'Back', visit_types_path %>