<h1>New recipe</h1>

<%= error_messages_for :recipe %>

<% form_for(@recipe) do |f| %>
 <%= render :partial => "form", :locals => { :f => f, :button => "Create"  }  %>
<% end %>

<%= link_to 'Back', recipes_path %>
