<p>
  <b>Name:</b>
  <%=h @medication.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @medication.notes %>
</p>


<%= link_to 'Edit', edit_medication_path(@medication) %> |
<%= link_to 'Back', medications_path %>