<h1>User#login</h1>
<p>Find me in app/views/user/login.html.erb</p>
<!-- app/views/user/login.rhtml -->

  <%= form_tag :action => 'process_login' %>
   Username: <%= text_field "user", "username" %>&#x00A;
    Password: <%= password_field "user", "password" %>&#x00A;
    <%= submit_tag %>
