<!DOCTYPE html>
<html>
<head>
  <title>Matlabu-Chifai: Log In</title>
  <link href="/stylesheets/scaffold.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id = "header">
	<div id = "canvas">
		<div id = "innercanvas">
			<div id = "title">Matlabul Chifai</div>
			<div id = "buttons"> <a href ="#" class = "buttons">
								 <span class="left"></span>
								 <span class="middle">Francais</span>
								 <span class="right"></span></a>
								 <a href ="#" class = "buttons">
								 <span class="left"></span>
								 <span class="middle">English</span>
								 <span class="right"></span></a>
								 <a href ="#" class = "buttons">
								 <span class="left"></span>
								 <span class="middle">Hindi</span>
								 <span class="right"></span></a>
			</div>
		</div>
	</div>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>